<section>
<%= bootstrap_form_with(url: "/posts/#{@post.id}/likes", scope: :like, local: true) do |f| %>
    <%= f.submit "ðŸ‘ Like" , data: {disable_with: "ðŸ‘"}, class: "btn btn-dark mb-3", id: 'like-btn' %>
  <%end%>
</section>