<section class='all-users'>
  <section class='d-flex flex-column'>
    <h1 class='shadow'>ALL OUR BLOGERS</h1>
  </section>
  <% @users.each do |user| %>
    <%= render partial: 'user_box', locals: {user:user} %>
  <% end %>
</section>
