p,
h1,
h5 {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: #171a21;
}

#navbar {
  width: 100%;
}

.all-users {
  margin: 50px auto;
  padding: 20px;
  width: 60%;
  background-color: #617073;
  border-radius: 40px;
}

.all-users h1 {
  width: 70%;
  padding: 80px;
  text-align: center;
  margin: 80px auto;
  background-color: #e09f3e;
  border-radius: 40px;
  color: #e4e0e0;
}

.card {
  width: 100%;
  margin: 5px auto;
  background-color: #eee8e8;
}

.card-text,
.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  align-items: flex-end;
}

.card-body {
  margin: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.card-text a {
  text-decoration: none;
  color: #617073;
}

.card-text a:hover {
  color: #e09f3e;
  font-weight: bold;
  font-size: 1.2em;
}

.user-photo {
  background-color: #ead7d7;
}

#lks,
#statistics,
#lks-posts {
  justify-content: space-between;
  align-items: center;
}

.new_post {
  width: 50%;
  margin: 5px auto;
  height: 1vh;
}

#addPost {
  width: 60%;
  margin: 10px auto;
  border-radius: 5px;
}

.btn-view {
  color: #fff;
  background-color: #2d3c3f;
}

.btn-view:hover {
  background-color: #99ccd6;
}

.form-group {
  margin: 20px auto;
  padding: 20px;
  color: #fff;
  background-color: #617073;
  border-radius: 10px;
}
